body {
  font-family: Arial, sans-serif;
  background: #f0f0f5;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background: #4c57d7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #3a46c4;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  background: #f7f7f7;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 li span {
  flex: 1;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}
